{# <div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y align-middle">
      <a class="clr-blck" href="{{ 'home' |page }}"><h1 class="cell small-6 menu-text no-margin">Anna Cea</h1></a>
      <div class="cell small-6 text-right">
        <a href="{{'portfolio' |page}}" class="clr-blck">Portfolio</a>
      </div>
  </div>
</div> #}

<nav class="navbar">

  <div class="grid-container fluid">

    <div class="grid-x">
      <div class="logo cell small-6">Studio</div>
      
      <ul class="cell small-3 small-offset-3 nav-links">
        <li>Work</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
    
</nav>